<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobcard</title>
</head>
<style>
    @page {
        margin: 10px 25px 10px 25px;
    }

    @page: first {
        margin-top: 0;
    }

    body {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
    }

    .trustAutoTitle {
        font-family: 'Merriweather', serif;
        font-size: 65px;
        font-weight: 900;
        color: #4671A1;
        margin-top: 15px
    }

    .imgWrap {
        width: 150px;
        height: 100px;
    }

    .logoWrap {
        text-align: center;
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-bottom-color: #110255;
        border-bottom: 2px solid #110255;
        height: 110px;

    }

    .vehicleCard {
        box-shadow: #42a1da 0px 3px 2px 3px;
        font-weight: bold;
        padding: 5px 10px;
        border-radius: 8px;
        text-align: center;
        font-size: .8rem;
        width: 10rem;
        text-transform: uppercase;
        margin: 0px;

    }

    .vehicleField {
        border: 1px solid black;
        margin-right: 5px;
        border-radius: 5px;
        width: 130px;
        margin-bottom: 3px;
        margin-top: 2px;
        color: black;
        font-size: 10px;
        display: block;
        height: 15px;
        padding-top: 5px;
        padding-left: 5px;
    }

    .vehicleInterior,
    .reportedInput,
    .note {
        width: 98%;
        border: 1px solid black;
        border-radius: 5px;
        padding-left: 5px;
        padding-top: 5px;
        height: 102px;
        font-size: 13px;
        display: block;
        margin-top: 5px auto;
    }

    .reportedInput {
        width: 445px;
    }

    .note {
        height: 50px;

    }

    .carImgWrap {
        width: 270px;
        height: 290px;
        border: 1px solid black;
        padding: 5px;
        border-radius: 5px;
        margin-top: 19px;

    }

    .carImgWrap img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .footerInput {
        width: 175px
    }
</style>

<body>
    <main>
        <div style="display: flex; justify-content: space-between;flex-direction: column; height: 100%; ">
            <div>
                <div class="logoWrap">
                    <div style="display: flex ; align-items: center ; gap: 5px;">
                        <div class="imgWrap">
                            <img style="width: 100%;object-fit: contain;" src="<%=imageUrl%>/images/logo.png"
                                alt="Trust Auto Solutions" />

                        </div>
                        <h2 class="trustAutoTitle">Trust Auto Solution</h2>
                    </div>
                </div>
                <div
                    style="display: flex; font-size: 12px; justify-content: space-between; align-items: center; margin: 8px 0;">
                    <div>
                        <b>
                            Job No: <span> <%= jobcard && jobcard.job_no ? jobcard.job_no : 'N/A' %></span>
                        </b>
                        <div>
                            <b> ID:</b> <%= jobcard && jobcard.Id ? jobcard.Id : 'N/A' %>
                        </div>
                    </div>
                    <div>
                        <div class="vehicleCard">
                            Vehicle Job Card
                        </div>
                    </div>
                    <div>
                        <b>
                            Date: <span><%= jobcard && jobcard.date ? jobcard.date : 'N/A' %></span>
                        </b>
                    </div>
                </div>
                <div style="display: flex;justify-content: space-between;gap: 30px;">
                    <div>
                        <h3>Vehicle Information</h3>
                        <div>
                            <div style="display: flex;align-items: center ;gap: 5px ;margin-top:8px">
                                <div>
                                    <label style="display: block; font-size: 12px;">Chassis No </label>
                                    <small class="vehicleField " style="text-transform: uppercase;">
                                        <%= jobcard && jobcard.vehicle.chassis_no ? jobcard.vehicle.chassis_no : 'N/A' %></small>
                                </div>
                                <div>
                                    <label style="display: block; font-size: 12px;">Engine No </label>
                                    <small class="vehicleField">
                                        <%= jobcard && jobcard.vehicle.engine_no ? jobcard.vehicle.engine_no : 'N/A' %></small>
                                </div>
                                <div>
                                    <label style="display: block; font-size: 12px;">Mileage </label>
                                    <small class="vehicleField">
                                        <%= jobcard && jobcard.vehicle.mileage ? jobcard.vehicle.mileage : 'N/A' %></small>
                                </div>
                            </div>
                            <div style="display: flex;align-items: center ;gap: 5px ;margin-top:8px">
                                <div>
                                    <label style="display: block; font-size: 12px;">Car Registration No
                                    </label>
                                    <small class="vehicleField">
                                        <%= jobcard && jobcard.vehicle.carReg_no ? jobcard.vehicle.carReg_no : 'N/A' %></small>
                                </div>
                                <div>
                                    <label style="display: block; font-size: 12px;">Vehicle Name </label>
                                    <small class="vehicleField">
                                        <%= jobcard && jobcard.vehicle.vehicle_name ? jobcard.vehicle.vehicle_name : 'N/A' %></small>
                                </div>
                                <div>
                                    <label style="display: block; font-size: 12px;">Color </label>
                                    <small class="vehicleField">
                                        <%= jobcard && jobcard.vehicle.color_code ? jobcard.vehicle.color_code : 'N/A' %></small>
                                </div>
                            </div>
                            <div style="display: flex;align-items: center ;gap: 5px ;margin-top:8px">
                                <div>
                                    <label style="display: block; font-size: 12px;">Vehicle Model
                                    </label>
                                    <small class="vehicleField">
                                        <%= jobcard && jobcard.vehicle.vehicle_model ? jobcard.vehicle.vehicle_model : 'N/A' %></small>
                                </div>
                                <div>
                                    <label style="display: block; font-size: 12px;">Vehicle Brand</label>
                                    <small class="vehicleField">
                                        <%= jobcard && jobcard.vehicle.vehicle_brand ? jobcard.vehicle.vehicle_brand : 'N/A' %></small>
                                </div>
                                <div>
                                    <label style="display: block; font-size: 12px;">Vehicle Category </label>
                                    <small class="vehicleField">
                                        <%= jobcard && jobcard.vehicle.vehicle_category ? jobcard.vehicle.vehicle_category : 'N/A' %></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h3>Customer Information</h3>
                        <div>
                            <div style="display: flex;align-items: center ;gap: 5px ;margin-top:8px">
                                <div>
                                    <label style="display: block; font-size: 12px;">Customer Name</label>
                                    <small class="vehicleField">
                                        <% if (jobcard && jobcard.customer && jobcard.customer.customer_name) { %>
                                        <%= jobcard.customer.customer_name %>
                                        <% } else if (jobcard && jobcard.company && jobcard.company.company_name) { %>
                                        <%= jobcard.company.company_name %>
                                        <% } else if (jobcard && jobcard.showRoom && jobcard.showRoom.showRoom_name) { %>
                                        <%= jobcard.showRoom.showRoom_name %>
                                        <% } else { %>
                                        N/A
                                        <% } %>
                                    </small>


                                </div>
                                <div>
                                    <label style="display: block; font-size: 12px;">Phone Number </label>

                                    <small class="vehicleField">
                                    <% if (jobcard && jobcard.customer && jobcard.customer.customer_contact) { %>
                                    <%= jobcard.customer.customer_country_code + jobcard.customer.customer_contact %>
                                    <% } else if (jobcard && jobcard.company && jobcard.company.fullCompanyNum) { %>
                                    <%= jobcard.company.fullCompanyNum %>
                                    <% } else if (jobcard && jobcard.showRoom && jobcard.showRoom.fullCompanyNum) { %>
                                    <%= jobcard.showRoom.fullCompanyNum %>
                                    <% } else { %>
                                    N/A
                                    <% } %>
                                    </small>

                                </div>

                            </div>
                            <div style="display: flex;align-items: center ;gap: 5px ;margin-top:8px">
                                <div>
                                    <label style="display: block; font-size: 12px;">Driver Contact No
                                    </label>


                                    <small class="vehicleField">
                                        <% if (jobcard && jobcard.customer && jobcard.customer.customer_name) { %>
                                        <%= jobcard.customer.customer_name %>
                                        <% } else if (jobcard && jobcard.company && jobcard.company.driver_contact) { %>
                                        <%= jobcard.company.driver_contact %>
                                        <% } else if (jobcard && jobcard.showRoom && jobcard.showRoom.driver_contact) { %>
                                        <%= jobcard.showRoom.driver_contact %>
                                        <% } else { %>
                                        N/A
                                        <% } %>
                                    </small>

                                </div>
                                <div>
                                    <label style="display: block; font-size: 12px;">Reference Name </label>


                                    <small class="vehicleField">
                                        <% if (jobcard && jobcard.customer && jobcard.customer.reference_name) { %>
                                        <%= jobcard.customer.reference_name %>
                                        <% } else if (jobcard && jobcard.company && jobcard.company.reference_name) { %>
                                        <%= jobcard.company.reference_name %>
                                        <% } else if (jobcard && jobcard.showRoom && jobcard.showRoom.reference_name) { %>
                                        <%= jobcard.showRoom.reference_name %>
                                        <% } else { %>
                                        N/A
                                        <% } %>
                                    </small>
                                </div>

                            </div>
                            <div style="display: flex;align-items: center ;gap: 5px ;margin-top:8px">
                                <div>
                                    <label style="display: block; font-size: 12px;">Car Driver Name

                                    </label>

                                    <small class="vehicleField">
                                    <% if (jobcard && jobcard.customer && jobcard.customer.driver_name) { %>
                                    <%= jobcard.customer.driver_name %>
                                    <% } else if (jobcard && jobcard.company && jobcard.company.driver_name) { %>
                                    <%= jobcard.company.driver_name %>
                                    <% } else if (jobcard && jobcard.showRoom && jobcard.showRoom.driver_name) { %>
                                    <%= jobcard.showRoom.driver_name %>
                                    <% } else { %>
                                    N/A
                                    <% } %>
                                    </small>
                                </div>
                                <div>
                                    <label style="display: block; font-size: 12px;">Customer Email
                                    </label>

                                    <small class="vehicleField">
                                    <% if (jobcard && jobcard.customer && jobcard.customer.customer_email) { %>
                                    <%= jobcard.customer.customer_email %>
                                    <% } else if (jobcard && jobcard.company && jobcard.company.customer_email) { %>
                                    <%= jobcard.company.customer_email %>
                                    <% } else if (jobcard && jobcard.showRoom && jobcard.showRoom.customer_email) { %>
                                    <%= jobcard.showRoom.customer_email %>
                                    <% } else { %>
                                    N/A
                                    <% } %>
                                    </small>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <label style="display: block; font-size: 12px; margin-top: 20px ;margin-bottom: 3px;"> Vehicle
                        Interior
                        Parts, Papers, Tools,
                        Meter Light &
                        Others</label>
                    <small class="vehicleInterior">
                        <%= jobcard && jobcard.vehicle_interior_parts ? jobcard.vehicle_interior_parts.replace(/<\/?[^>]+(>|$)/g, "") : 'N/A' %>
                    </small>

                </div>
                <div style="display: flex; gap: 5px ; align-items: center ;margin-top: 15px;">
                    <div>
                        <div>
                            <label style="display: block; font-size: 12px; ;margin-bottom: 3px;">Reported Defect</label>
                            <small class="vehicleInterior">
                                <%= jobcard && jobcard.vehicle_interior_parts ? jobcard.vehicle_interior_parts.replace(/<\/?[^>]+(>|$)/g, "") : 'N/A' %>
                            </small>

                        </div>
                        <div>
                            <label
                                style="display: block; font-size: 12px; margin-top: 10px ;margin-bottom: 3px;">Reported
                                Action</label>
                            <small class="reportedInput">
                                <%= jobcard && jobcard.reported_action ? jobcard.reported_action.replace(/<\/?[^>]+(>|$)/g, "") : 'N/A' %>
                            </small>

                        </div>
                        <div>
                            <label
                                style="display: block; font-size: 12px; margin-top: 10px ;margin-bottom: 3px;">Vehicle
                                Body
                                Report Comments</label>
                            <small class="reportedInput">
                                <%= jobcard && jobcard.vehicle_body_report ? jobcard.vehicle_body_report.replace(/<\/?[^>]+(>|$)/g, "") : 'N/A' %>
                            </small>

                        </div>
                    </div>
                    <div>
                        <div class="carImgWrap">
                            <img style="width: 100%;object-fit: contain;" src="<%=imageUrl%>/images/car3.jpeg"
                                alt="Trust Auto Solutions" />
                        </div>
                        <div>
                            <label style="display: block; font-size: 12px; margin-top: 8px ;">Note</label>
                            <small class="note">
                                <%= jobcard && jobcard.note ? jobcard.note : 'N/A' %>
                            </small>
                        </div>
                    </div>

                </div>
                <div style="margin-top: 10px;">
                    <div style="display: flex;align-items: center ;gap: 5px ;margin-top:8px">
                        <div>
                            <label style="display: block; font-size: 12px;">Technician Name </label>
                            <small class="vehicleField footerInput">
                                <%= jobcard && jobcard.technician_name ? jobcard.technician_name : 'N/A' %></small>
                        </div>
                        <div>
                            <label style="display: block; font-size: 12px;">Technician Signature </label>
                            <small class="vehicleField footerInput">
                            </small>
                        </div>
                        <div>
                            <label style="display: block; font-size: 12px;">Date </label>
                            <small class="vehicleField footerInput">
                                <%= jobcard && jobcard.technician_date ? jobcard.technician_date : 'N/A' %></small>
                        </div>
                        <div>
                            <label style="display: block; font-size: 12px;">I explained the car </label>
                            <small class="vehicleField footerInput"> </small>
                        </div>
                    </div>
                </div>
            </div>


            <div style="margin-top: 70px; font-size: 12px;">
                <hr style=" border: 1px solid #110255" />
                <div style="text-align: center; ">
                    <p>
                        <b>Office: </b>Ka-93/4/C, Kuril Bishawroad, Dhaka-1229,
                        www.trustautosolution.com
                    </p>
                    <p className="text-xs">

                        <b>Mobile:</b>+880 1821-216465, +880 1972-216465 , <b>Email:</b>
                        trustautosolution@gmail.com
                    </p>
                </div>
            </div>
        </div>
    </main>


</body>

</html>